<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crime in Los Angeles</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/Plugin/bmap.min.js"></script>
    <script src="http://api.map.baidu.com/api?v=2.0&ak=LelFSt6BfykGf8m3PB5zr8LaXAG2cMg6"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/Victim.js"></script>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li ><a href="index.html">Data Description</a> </li>
            <li class="nav_active"><a href="Victim.html">Victim</a> </li>
            
            </ul>
    </div>
    <div class="header_center left" style="position:relative">
        
        <h2><strong>Crime in Los Angeles</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>
         <li ><a href="Time.html">Time</a> </li>
         <li ><a href="Crime.html"><i class="nav_4"></i>Crime</a> </li>
        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left">
  <!--数据总概-->
  <div class="con_div">
      <div class="con_div_text left">
          <div class="con_div_text01">
              
              <div class=" text01_div">
                  <p>What gender is the most vulnerable to crime?</p>
                  <p>Female</p>
              </div>
          </div>
          
      </div>
      <div class="con_div_text left">
          <div class="con_div_text01 ">
              <div class="text01_div">
                  <p>What kind of races are the most vulnerable to crime?</p>
                  <p class="sky">Hispanic Latin Mexican</p>
              </div>
          </div>
          
      </div>
      <div class="con_div_text left">

          <div class="con_div_text01 ">
              <div class="text01_div">
                  <p>Where is the most common place for criminals to happen?</p>
                  <p class="org">Street</p>
              </div>
         
      </div>
  </div>
    <!--统计分析图-->
    <div class="div_any">
        <div class="left div_any06">
            <div class="div_any_child">
                <div class="div_any_title">Victim Gender By Crime</div>
                <p id="histogramChart1" class="p_chart"></p>
            </div>
            <div class="div_any_child">
               
                   <div class='p_text P_text_div'> 

                    <p class="white"> <font size="6">Through the analysis of the chart, we find that women are more likely to be victims of sample assault but men are more likely to be stolen.</font></p>
                  
                   </div> 
            </div>
            
        </div>

        <div class="left div_any06">
            <div class="div_any_child">
                <div class="div_any_title">Victim Descent By Crime</div>
                <p id="histogramChart2" class="p_chart"></p>
            </div>
            <div class="div_any_child">
               
                   <div class='p_text P_text_div'> 

                    <p class="white"> <font size="6">
From the figure we can know that whites are more vulnerable to assault than blacks. In terms of the number of assaults, they are almost equal to Latinos.</font></p>
                   </div> 
                   
            </div>
           
        </div>
        
        <div class="left div_any06">
            <div class="div_any_child">
                <div class="div_any_title">Victim Descent By Place</div>
                <p id="histogramChart3" class="p_chart"></p>
            </div>
            <div class="div_any_child">
               
                   <div class='p_text P_text_div'> 

                    <p class="white"> <font size="6">

The most common place for criminals to live is on the street and where the single people live.</font></p>
                   </div> 
                   
            </div>
                   
            </div>
           
        </div>


</div>
</body>
</html>
